body {
  text-align: center;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/613/852/896/bridge-punch-club-pixel-art-night-wallpaper-preview.jpg");
  background-size: cover;
  background-color: #011F3F;
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
}

#game-title{
  margin: 15% 15% 0;
  padding: 5% 5%;
  font-size: 3.9rem;
}

.game-img{
  position: relative;
  height : auto;
  width : 25%;
  margin: 5% 0;
  margin-bottom: 0;
  padding-bottom: 0;
}




.invisible{
  visibility: hidden;
}
.night{
  background-color: black;
  background-image: none;
}
.blood-night{
  background-image: url("https://w0.peakpx.com/wallpaper/934/415/HD-wallpaper-moon-night-pixelart.jpg");
  opacity: 0.8;
  background-color: red;
}

.evening{
  background-image: url("https://i.pinimg.com/originals/cc/c0/21/ccc021761e965fe269b9668604551adc.png");
  background-size: cover;
}

#container {
  position: fixed;
  bottom: 130px;
  right: 0;
}

#chat-box{
  line-height: 1.5;
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #011F3F;
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  resize: none;
  vertical-align: bottom;
  position: relative;
  margin: 0 5px;
  pointer-events: auto;
}

@media only screen and (max-width: 1028px) {
  #game-title{
    text-align: center;
    font-size: 2rem;
  }
}

#music-hint{
 font-size: 1rem;
 margin-bottom: 0;
 padding: 0;
 display: none;
}

.fa-music:hover ~ #music-hint{
  color: black;
  visibility:visible;
  display: block;
}

.fa-music:hover{
  color: #ffffff;
}

.startButton {
  font-family: 'Press Start 2P', cursive;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.startButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.startButton:active {
	position:relative;
	top:1px;
}
